{% extends "base.html" %}
{% load sorl_thumbnail %}


{% block title %}
Welcome to django 101 2022
{% endblock %}


{% block body %}
{% comment %} <h1>{{ posts }}</h1> {% endcomment %}

    {% comment %} <a href="{% url 'feed:post' %}">Add the new post here&rarr;</h1> {% endcomment %}






    
    
    {% comment %} {% for post in posts %}

        <a href="/detail/{{ post.id }}/">View Detail</a>
        <a href="{% url 'feed:detail' post.id %}" style='display: inline-block'>



            <h1>{{ post.text }}</h1>
            {% thumbnail post.image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        </a>
    {% endthumbnail %}   
    <hr>
    {% endfor%} {% endcomment %}



    <div class="row">
    {% for post in posts %}     
        <div class="col-sm-6 col-md-3">
            <div class="card my-4">
                    {% thumbnail post.image "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" class="card-img-top" alt="...">
                    {% endthumbnail %}   
                <div class="card-body">
                    <p class="card-text">{{ post.text }}</p>
                    <a href="{% url 'feed:detail' post.id%}" class="btn btn-primary">View Full Images</a>
                </div>
            </div>    
        </div>


        {% empty %}
        <div class="col-sm-6 offset-3 text-center py-5 my-5">
            <h3>Welcome!</h3>
            <p>Add your first image?</p>
            <a href="{% url 'feed:post' %}" class="btn btn-lg btn-success">Upload Image</a>





      {% endfor%}
    </div>








{% endblock %}